@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.container-calendar {
    max-width: 100%;
    border-radius: 12px;
    text-align: center;
}

.container-calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    line-height: 38px;
    background: #ededed;
}

header .icons span:last-child {
    margin-right: -10px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendar .days li {
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
}
.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 90px;
    top: 50%;
    left: 50%;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    z-index: -1;
}
@media (max-width: 768px) {
    .calendar .days li::before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

@media (max-width: 600px) {
    .container-calendar {
        font-size: 12px;
    }

    ul.days,
    ul.weeks {
        padding: 0;
    }

    .icons {
        display: flex;
    }
}

.days li:hover::before {
    background: #ededed;
}

.days li.active::before {
    background: #6f61c0;
}

.days li.inactive {
    opacity: 30%;
}

.days li.active {
    color: #fff;
}
